body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#home {
  background-color: #011013;
  margin: 0;
  padding: 0;
  width: auto;
  height: 8vw;
}

.left {
  display: flex;
  flex-direction: column;
  float: left;
}

.profile_name {
  color: white;
  margin: 2vw 0 0 2vw;
  padding: 0;
  font-size: 1.7vw;
}

.e_mail {
  color: white;
  font-size: 1vw;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: -2vw 0 0 2vw;
}

.e_mail_pic {
  width: 2vw;
}

.linkedin {
  color: lightgray;
  margin: 3vw 2vw 0 0;
  padding: 0;
  font-size: 1.5vw;
  float: right;
  text-decoration: none;
}

.container {
  display: flex;
  text-align: justify;
}

#about-me h1 {
  font-size: 4vw;
  color: rgba(206, 110, 8, 0.919);
  margin: 8vw 0 0 5vw;
}

#about-me p {
  font-size: 1.5vw;
  color: rgb(128, 128, 128);
  margin: 2vw 10vw 0 5vw;
}

.profile_image {
  width: 18vw;
  height: 25vw;
  vertical-align: middle;
  margin: 2vw 2vw 0 10vw;
  border-radius: 5vw;
}

h2 {
  text-align: justify;
  font-size: 4vw;
  text-align: center;
  float: center;
  color: rgba(206, 110, 8, 0.919);
  margin: 3vw;
  margin-left: 6vw;
  margin-top: 6vw;
  margin-bottom: 0;
}

.all_projects {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  float: center;
  margin-left: 19vw;
  color: black;
}

.project {
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 5vw;
  padding: 2vw;
  width: 2in;
  font-size: 2vw;
  box-shadow: 0 3px 10px gray;
  margin-inline-start: 1vw;
}

h6 {
  color: black;
}

.direitos {
  text-align: center;
  text-decoration: none;
}
